@import "~@christianrothe-dev/styles/colors";

:host {
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  position: relative;

  border: 1px solid #dbdbdb;
  border-radius: .375em;

  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;

  background-color: #fff;
  color: $color-text-primary;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);

  &:hover {
    border-color: #b5b5b5;
  }

  &:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
  }

  &:active {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
  }

  &:disabled {
    color: $color-text-secondary;
  }
}

:host.ng-invalid.ng-touched {
  border-color: $color-error;
}

:host.ng-valid.ng-touched {
  border-color: $color-accent-dark;
}
