*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration:none;
  color:inherit;
  cursor:pointer;
}

button{
  background-color:transparent;
  color:inherit;
  border-width:0;
  padding:0;
  cursor:pointer;
}

input::-moz-focus-inner {
  border:0;
  padding:0;
  margin:0;
}

ul,
ol,
dd {
  margin:0;
  padding:0;
  list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:inherit;
  font-weight:inherit;
}

cite {
  font-style:normal;
}

fieldset {
  border-width:0;
  padding:0;
  margin:0;
}
