$break-point-tablet: 769px;
$break-point-desktop: 1024px;
$break-point-widescreen: 1216px;
$break-point-full-hd: 1408px;

@mixin tablet {
  @media screen and (min-width: #{$break-point-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$break-point-desktop}) {
    @content;
  }
}

@mixin wide-screen {
  @media screen and (min-width: #{$break-point-widescreen}) {
    @content;
  }
}

@mixin full-dh {
  @media screen and (min-width: #{$break-point-full-hd}) {
    @content;
  }
}
