$color-primary: #2196F3;
$color-primary-light: #BBDEFB;
$color-primary-lighter: #F6F9FC;
$color-primary-dark: #1976D2;

$color-light: #f5f5f5;
$color-accent: #8BC34A;
$color-accent-light: lighten($color-accent, 10%);
$color-accent-dark: darken($color-accent, 10%);

$color-text-primary: #212121;
$color-text-secondary: #757575;

$color-diver: #BDBDBD;

$color-error: #D32F2F;

$background-color-primary: $color-primary-lighter;
